# Libraries needed to for this jupyter notebook.

In [1]:
import matplotlib as mpl
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import numpy as np
import cufflinks as cf
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
%matplotlib inline
cf.go_offline()

* reading in CSV file from Kaggle.

In [2]:
coffee_dataset=pd.read_csv("coffee.csv")

In [3]:
df= coffee_dataset

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5693 entries, 0 to 5692
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      5693 non-null   object
 1   Open      5693 non-null   float64
 2   High      5693 non-null   float64
 3   Low       5693 non-null   float64
 4   Close     5693 non-null   float64
 5   Volume    5693 non-null   int64
 6   Currency  5693 non-null   object
dtypes: float64(4), int64(1), object(2)
memory usage: 311.5+ KB

In [5]:
df.shape

(5693, 7)

In [6]:
df.describe()

             Open         High          Low        Close        Volume
count  5693.00000  5693.000000  5693.000000  5693.000000   5693.000000
mean    126.38925   127.954124   124.922897   126.336260   8784.621114
std      49.96451    50.545493    49.261095    49.898375   9610.690562
min      41.50000    42.000000    41.500000    41.500000      0.000000
25%      98.50000    99.750000    97.500000    98.400000     61.000000
50%     120.00000   121.250000   118.650000   119.950000   6987.000000
75%     143.40000   144.700000   141.700000   143.100000  14469.000000
max     305.30000   306.250000   304.000000   304.900000  62045.000000

In [7]:
len(df.Date.unique())

5693

In [8]:
coffee_dataset

            Date    Open    High     Low   Close  Volume Currency
0     2000-01-03  122.25  124.00  116.10  116.50    6640      USD
1     2000-01-04  116.25  120.50  115.75  116.25    5492      USD
2     2000-01-05  115.00  121.00  115.00  118.60    6165      USD
3     2000-01-06  119.00  121.40  116.50  116.85    5094      USD
4     2000-01-07  117.25  117.75  113.80  114.15    6855      USD
...          ...     ...     ...     ...     ...     ...      ...
5688  2022-06-13  226.80  227.85  218.90  223.35   22838      USD
5689  2022-06-14  224.25  229.25  222.90  226.95   12874      USD
5690  2022-06-15  225.85  229.70  221.75  228.50    9194      USD
5691  2022-06-16  228.50  233.00  226.20  231.95    5592      USD
5692  2022-06-17  232.28  234.47  230.90  232.70       0      USD

[5693 rows x 7 columns]

In [9]:
#checking for missing data.
df.dropna()

            Date    Open    High     Low   Close  Volume Currency
0     2000-01-03  122.25  124.00  116.10  116.50    6640      USD
1     2000-01-04  116.25  120.50  115.75  116.25    5492      USD
2     2000-01-05  115.00  121.00  115.00  118.60    6165      USD
3     2000-01-06  119.00  121.40  116.50  116.85    5094      USD
4     2000-01-07  117.25  117.75  113.80  114.15    6855      USD
...          ...     ...     ...     ...     ...     ...      ...
5688  2022-06-13  226.80  227.85  218.90  223.35   22838      USD
5689  2022-06-14  224.25  229.25  222.90  226.95   12874      USD
5690  2022-06-15  225.85  229.70  221.75  228.50    9194      USD
5691  2022-06-16  228.50  233.00  226.20  231.95    5592      USD
5692  2022-06-17  232.28  234.47  230.90  232.70       0      USD

[5693 rows x 7 columns]

# passing in a dictionary to change columns names to all caps.

In [10]:
df. rename (columns= {'Date':'DATE','Open':'OPEN','High':'HIGH','Low':'LOW','Close':'CLOSE','Volume':'VOLUME','Currency':'CURRENCY'}, inplace= True)

In [11]:
df

            DATE    OPEN    HIGH     LOW   CLOSE  VOLUME CURRENCY
0     2000-01-03  122.25  124.00  116.10  116.50    6640      USD
1     2000-01-04  116.25  120.50  115.75  116.25    5492      USD
2     2000-01-05  115.00  121.00  115.00  118.60    6165      USD
3     2000-01-06  119.00  121.40  116.50  116.85    5094      USD
4     2000-01-07  117.25  117.75  113.80  114.15    6855      USD
...          ...     ...     ...     ...     ...     ...      ...
5688  2022-06-13  226.80  227.85  218.90  223.35   22838      USD
5689  2022-06-14  224.25  229.25  222.90  226.95   12874      USD
5690  2022-06-15  225.85  229.70  221.75  228.50    9194      USD
5691  2022-06-16  228.50  233.00  226.20  231.95    5592      USD
5692  2022-06-17  232.28  234.47  230.90  232.70       0      USD

[5693 rows x 7 columns]

In [13]:
df['CLOSE'].mode

<bound method Series.mode of 0       116.50
1       116.25
2       118.60
3       116.85
4       114.15
         ...
5688    223.35
5689    226.95
5690    228.50
5691    231.95
5692    232.70
Name: CLOSE, Length: 5693, dtype: float64>

In [14]:
#Checking highest closing price.

df['CLOSE'].max()

304.9

In [15]:
#Checking lowest closing price.

df['CLOSE'].min()

41.5

In [16]:
#checking avage closing price.

df['CLOSE'].mean()

126.33626031969077

In [ ]:
df.head()

## showing Open and close prices.
* with iplot in Pandas

In [ ]:
# working with iplot
df['OPEN'].iplot(legend='OPEN')
df['CLOSE'].iplot(legend='CLOSE')

In [ ]:
df['HIGH'].iplot(legend='HIGH')

In [ ]:

df.head(10)

In [ ]:
df['OPEN'].max

# Using Matplotlib

In [ ]:
sns.displot(df, x='OPEN')

Open_x = [df.OPEN]
x_indexes = np.arange(len('OPEN_x'))
plt.legend(["Opinging Prices in $"])
plt.title("Opening Daily Coffee Prices")
plt.xlabel("OPENING PRICES")
plt.ylabel("Prices In USD")
plt.figure(figsize=(4,2),dpi=100.0)
plt.show()

In [ ]:
#showing top 25 rows

df.head(25)

In [ ]:
df=pd.read_csv('coffee.csv')
pd.set_option('display.max_columns',None)

In [ ]:
df.tail()

In [ ]:
#useing Matplotlib and seaborn to show data

plt.style.use('seaborn')

data = pd.read_csv('coffee.csv')
Open = data['Open']
High = data['High']
Low = data['Low']

fig, ax = plt.subplots()

ax.plot(High, label='High')
ax.plot(Open,label='Open')
ax.plot(Low,label='Low')

#fig, ax = plt.subplots()

ax.plot(Open, High, Low, color= '#777777',linestyle=':', label='high')
#ax.plot(Open, color='#444444',linestyle='--', label='open')

ax.legend()

ax.set_title('Coffee cost')
ax.set_xlabel('Open')
ax.set_ylabel('High')

plt.tight_layout()

plt.show()

In [ ]:
df.iloc[0, :]